<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>User table</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

<div class="d-flex justify-content-center">
  <div id="vopros-value" class="text-center" style="font-weight: bold; font-size: 2em;"></div>
</div>







<div class="my-2"></div> <!-- Пустая строка -->





<style>
  .button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
</style>
</head>
<body>
<div class="button-group">
  <form id="yesForm" onsubmit="return false;">
    <button class="button" onclick="answerYes()">ДА, сыграем еще</button>
  </form>
</div>


<div class="button-group">
  <form id="inputForm" onsubmit="return false;">
    <button class="button" onclick="sendData()">НЕТ</button>
  </form>
</div>
</body>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/ugadalverdo.js"></script>

</body>
</html>